<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">

  <!-- CONTENT -->
  <div class="content">
    <div class="white-bg md-whiteframe-4dp">
      <table class="dataTable row-border hover" datatable="ng" dt-options="vm.dtOptions">
        <thead>
        <tr>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">MX ID</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Name</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">City</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Phone</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Email</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Website</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Services</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Specializations</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Registrations</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Address1</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Address2</span>
            </div>
          </th>
          <th class="secondary-text">
            <div class="table-header">
              <span class="column-title">Pincode</span>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="clinic in ::vm.clinics">
          <td>MX{{clinic.mxId}}{{clinic.mxIdSuffix}}</td>
          <td>{{clinic.nameToUpper}}</td>
          <td>{{clinic.city}}</td>
          <td>{{clinic.phone1}}</td>
          <td>{{clinic.email}}</td>
          <td>{{clinic.website}}</td>
          <td>{{clinic.services}}</td>
          <td>{{clinic.Specializations}}</td>
          <td>{{clinic.Registrations}}</td>
          <td>{{clinic.address1}}</td>
          <td>{{clinic.address2}}</td>
          <td>{{clinic.pincode}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
  <!-- / CONTENT -->

</div>
